<p id="notice"><%= notice %></p>

<h1>Questions</h1>

<table>
  <thead>
    <tr>
      <th>Tile</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  ail<% @questions.each do |question| %>
<div class="link row clearfix">
    <h2>
        <%= link_to question.tile, question %><br>
        <small class="author">Submitted
            <%= time_ago_in_words(question.created_at) %>
            by
  <div class="btn-group">
        <!-- <a class="btn btn-default btn-sm" href="<% questions_path %>">Visit question</a> -->
        <%= link_to like_question_path(question), method: :put, class: "btn btn-default btn-sm" do %>
        <span class="glyphicon glyphicon-chevron-up"></span>
        Upvote
        <%= question.get_upvotes.size %>
        <% end %>
        <%= link_to dislike_question_path(question), method: :put, class: "btn btn-default btn-sm" do %>
        <span class="glyphicon glyphicon-chevron-down">
            Downvote
            <%= question.get_downvotes.size %>
            <% end %>
        </div>
    </div>
    <% end %>
  </h2>
            </div>

            <h1>New Post:</h1>
            <%= simple_form_for [@question, Question.new]  do |f| %>
  <div class="form-inputs">
    <%= f.input :tile %>
    <%= f.input :body %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>

<br>
<!-- 
<%= link_to 'New Question', new_question_path %>
 -->